extends header

block content

    name = user.name
    password = user.password
    
    h1 Login MiddleWare
    for msg in message
        p= msg
    form(action='/login.html',method='POST')
        p NAME:
            input(type='text',name='user[name]', value=name)
        p PASS:
            input(type='password', name='user[password]', value=password)
        input(type='submit')
        input(type='button', class='btn btn-info', value='新規登録', onClick='location.href="register.html"')
